<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?xml encoding="utf-8" ?>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{SITENAME}}</title>

		<style type="text/css">
		 #outlook a {padding:0;}
		 .ExternalClass {width:100%;}
		 .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
		 table td {border-collapse: collapse; line-height: 1.5em;}
		 table {border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
		 #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
		 p {margin-bottom: 1.5em;}

		 a {
			 color: #2b9ad6;
			 text-deoration: none;
		 }

     h1 {
			 font-size: 24px;
			 font-weight: 600;
			 margin-top: 20px;
			 margin-bottom: 0;
		 }

     h2 {
			 font-size: 18px;
			 font-weight: 600;
			 margin-top: 13px;
			 margin-bottom: 20px;
     }

     h4 {
       margin: 0;
       margin-top: 20px;
       padding: 0;
       font-weight: 600;
     }

		 .blue {
			 color: #164995;
		 }

		 .multipleImages {
			 margin-top: 10px;
		 }

		 .list {
			 margin-top: 13px;
		 }

		 .list td {
			 padding-bottom: 15px;
		 }

		 .list .bullet {
			 margin-top: -3px;
			 padding-right: 15px;
		 }

		 #howDoesItWork {
			 margin: 20px 0 20px 0;
		 }

		 .step {
			 width: calc(25% - 21px);
			 display: inline-block;
			 vertical-align: top;
			 font-size: 14px;
			 font-weight: 600;
			 margin-left: 0;
			 margin-right: 17px;
			 margin-right: 17px;
			 padding: 0;
			 box-sizing: border-box;
		 }

		 .step-header {
			 padding-top: 20px;
			 font-size: 13px;
			 font-weight: 600;
			 line-height: normal;
		 }
		</style>
	</head>
	<body style="margin: 0; padding: 0; min-width: 100%;">
		<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" id="backgroundTable" style="background-color: #FFF; color: #000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; width:100%;">
			<tr>
				<td></td>
				<td width="560">
					<img src="cid:logo" width="346" height="109" alt="Gemeente Den Haag" align="left" style="border: 0; max-width: 100%; display: block; -webkit-user-select: none; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; margin-top: 20px;">
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>

					{% if idea.extraData and idea.extraData.images %}
						{% for image in idea.extraData.images %}
							<img class="multipleImages" src="{{image}}" width="100%"/><br/>
						{% endfor %}
					{% else %}
						{% if idea.posterImageUrl %}
							<img src="{{URL}}{{idea.posterImageUrl}}" width="100%"/>
						{% endif %}
					{% endif %}

				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td width="560">
					<h1>{{SITENAME}}</h1>
					<h2 class="blue">Welkom! Bedankt voor je plan!</h2>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td width="560">

          <h4>Beste  {{user.fullName | default('indiener')}},</h4>

					Bedankt voor het plaatsen van jouw plan op Statenkwartier Begroot!<br/>
					Je plan is goed ontvangen en staat nu online.<br/>
					<br/>
					<a href="{{inzendingURL}}" target="_blank" style="color: #EC0000">Bekijk hier jouw plan en start je campagne</a><br />
					<a href="https://statenkwartierbegroot.nl/campagne" target="_blank" style="color: #EC0000">Bekijk hier tips voor jouw campagne</a><br />
					<br />
					<strong>Hoe gaat het nu verder?</strong><br />
					<p>Vanaf 4 september tot en met 11 oktober kunnen bewoners argumenten voor en tegen geven én stemmen op alle plannen. Als jouw plan minimaal 25 positieve likes (= stemmen) heeft, checkt de gemeente jouw plan op haalbaarheid en maakt je plan kans om uitgevoerd te worden. Probeer daarom zoveel mogelijk likes te verzamelen van bewoners uit het Statenkwartier! Let op: als er eenmaal op je plan is gestemd, kun je jouw plan niet meer wijzigen.</p><br />
					<p>Vanaf 14 oktober checkt de gemeente alle plannen met 25 likes of meer op haalbaarheid. Op 15 november wordt bekend gemaakt welke plannen er doorgaan naar de begrootfase. Bewoners uit het Statenkwartier verdelen vanaf 15 november € 30.000,- over de haalbare plannen en bepalen zo welk(e) plan(nen) er worden uitgevoerd. Op zaterdagochtend 21 december worden de winnende plannen bekend gemaakt in het Couvéehuis.</p><br />
					<p>We houden je op de hoogte via <a href="https://statenkwartierbegroot.nl">Statenkwartier Begroot</a>. Voor specifieke informatie of vragen over jouw plan, mailen of bellen we je direct.</p>
					<p>Mocht je nog vragen hebben, stuur ons dan een <a href="mailto:statenkwartierbegroot@denhaag.nl">e-mail</a>.</p>
					<p style="margin-bottom: 3em; margin-top: 2em;">
						Hartelijke groet,<br>
						Team {{SITENAME}}
					</p>

        </td>
				<td></td>
      </tr>
			<tr>
				<td></td>
				<td style="height: 15px; background-color: #787979;" width="560">
        </td>
				<td></td>
      </tr>
			<tr>
				<td></td>
				<td style=" text-align: center; height: 15px;" width="560">
          <h4><a href="{{URL}}" style="color: black; text-decoration: none;">{{HOSTNAME}}</a></h4>
        </td>
				<td></td>
      </tr>
    </table>

    <br/><br style="display:block; clear: both;"/>

	</body>
</html>
